<suite name="Test_Scenarios" verbose="3" parallel="tests"
	thread-count="1">
	<parameter name="Execute" value="cloud" />
	<parameter name="remoteurl"
		value="https://anish_ohri:ke0cNdOipKNVGKK6fZpNaRS2mZgWV8Yq8RB8N1HSODZBfEro1g@hub.lambdatest.com/wd/hub" />
	<parameter name="environment" value="Stag" />
	<parameter name="application" value="CRE" />
	<parameter name="opsgenieAlert" value="No" />

	<test name="verify_CRE_Listing_Page_Functionality" preserveorder="true">
		<groups>
			<dependencies>
				<group name="regression" depends-on="logInTest" />
			</dependencies>
		</groups>
		<parameter name="capabilities"
			value="browserName:chrome;platform:Windows 10;version:103.0;name:verify CRE Listing Page Functionality;build:CRE Regression Staging;console:true;resolution:1440x900" />
		<classes>
			<parameter name="ParameterNValue" value="InputDataRow=>4" />
			<class name="com.newdemo.steps.LogInTest" />
			<class name="com.newdemo.steps.NSPropertyDetailPage" />
			<class name="com.newdemo.steps.LogOutTest" />
		</classes>
	</test>
</suite>